<!--
 Name: Shivam Janda
 Date: November 21, 2022
 Description: Home webpage
-->
@{
    ViewData["Title"] = "Home Page";
}

<!-- Linking the css design sheet (site.css)-->
<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<!-- Home button that links to the index (home page)-->
<a href="~/Home/Index">
    <button>Home</button>
</a>
<!-- Appraise button that links to the appraise page-->
<a href="~/Home/Appraise">
    <button>Appraise</button>
</a>
<!-- Appraise button that links to the View Appraisals page-->
<a href="~/Home/ViewApprasials">
    <button>View Appraisals</button>
</a>

<div class="text-center">
    <h1 class="display">Student4CheapTexts</h1>
    <p class="intro">
        Students4CheapTexts is a student group focused on bringing you the
        cheapest possible price for a textbook. Did you know, that the average
        student spemds $600 on textbooks per semester? Our focus is yo try and
        bring that down. If you have used a text to sell, click on ther appraise
        button in the nav bar above and we will get you a price!
    </p>
</div>
