<!--
 Name: Shivam Janda
 Date: November 21, 2022
 Description: Appraise webpage
-->
<!-- Linking the css design sheet (site.css)-->
@{
    ViewData["Title"] = "View Apprasial";
}

<!-- Linking the css design sheet (site.css)-->
<head>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<!-- Home button that links to the index (home page)-->
<a href="~/Home/Index">
    <button>Home</button>
</a>
<!-- Appraise button that links to the appraise page-->
<a href="~/Home/Appraise">
    <button>Appraise</button>
</a>
<!-- Appraise button that links to the View Appraisals page-->
<a href="~/Home/ViewApprasials">
    <button>View Appraisals</button>
</a>

<div class="text-center">
    <h1 class="display">Student4CheapTexts</h1>
    <h2 class="display2">Appraised</h2>
    <h3>
        <!-- Displays data for the textbook title, version and apraised price of the textbook-->
        @ViewData["TextbookTitle"]<br />
        @ViewData["Version"]<br />
        @ViewData["AppraisedPrice"]<br />
    </h3>
</div>

